<p id="notice"><%= notice %></p>

<p>
  <b>Inaltime:</b>
  <%= @clinic.inaltime %>
</p>

<p>
  <b>Greutate:</b>
  <%= @clinic.greutate %>
</p>

<p>
  <b>Tas:</b>
  <%= @clinic.tas %>
</p>

<p>
  <b>Tad:</b>
  <%= @clinic.tad %>
</p>

<p>
  <b>Circumferinta abdomen:</b>
  <%= @clinic.circumferinta_abdomen %>
</p>

<p>
  <b>Circumferinta brat:</b>
  <%= @clinic.circumferinta_brat %>
</p>

<p>
  <b>Pliu cutantat brat:</b>
  <%= @clinic.pliu_cutantat_brat %>
</p>

<p>
  <b>Forta de strangere mana:</b>
  <%= @clinic.forta_de_strangere_mana %>
</p>

<p>
  <b>Data:</b>
  <%= @clinic.data %>
</p>

<p>
  <b>Pacient:</b>
  <%= @clinic.pacient %>
</p>


<%= link_to 'Edit', edit_clinic_path(@clinic) %> |
<%= link_to 'Back', clinics_path %>
