<p id="notice"><%= notice %></p>

<p>
  <b>Fumator:</b>
  <%= @anamneza.fumator %>
</p>

<p>
  <b>Etanol:</b>
  <%= @anamneza.etanol %>
</p>

<p>
  <b>Ima:</b>
  <%= @anamneza.ima %>
</p>

<p>
  <b>Angina:</b>
  <%= @anamneza.angina %>
</p>

<p>
  <b>Icc:</b>
  <%= @anamneza.icc %>
</p>

<p>
  <b>Avc:</b>
  <%= @anamneza.avc %>
</p>

<p>
  <b>Aomi:</b>
  <%= @anamneza.aomi %>
</p>

<p>
  <b>Amputatii:</b>
  <%= @anamneza.amputatii %>
</p>

<p>
  <b>Bpoc:</b>
  <%= @anamneza.bpoc %>
</p>

<p>
  <b>Hepatopatii:</b>
  <%= @anamneza.hepatopatii %>
</p>

<p>
  <b>Neoplasm:</b>
  <%= @anamneza.neoplasm %>
</p>

<p>
  <b>Retinopatie:</b>
  <%= @anamneza.retinopatie %>
</p>

<p>
  <b>Spitalizare:</b>
  <%= @anamneza.spitalizare %>
</p>

<p>
  <b>Cod spitalizare:</b>
  <%= @anamneza.cod_spitalizare %>
</p>

<p>
  <b>Pacient:</b>
  <%= @anamneza.pacient %>
</p>


<%= link_to 'Edit', edit_anamneza_path(@anamneza) %> |
<%= link_to 'Back', anamnezas_path %>
