<p id="notice"><%= notice %></p>

<p>
  <b>Pacient:</b>
  <%= @sga.pacient %>
</p>

<p>
  <b>Data:</b>
  <%= @sga.data %>
</p>

<p>
  <b>Modificari greutate:</b>
  <%= @sga.modificari_greutate %>
</p>

<p>
  <b>Modificari aport alimentar:</b>
  <%= @sga.modificari_aport_alimentar %>
</p>

<p>
  <b>Simptome gi:</b>
  <%= @sga.simptome_gi %>
</p>

<p>
  <b>Capacitate functionala:</b>
  <%= @sga.capacitate_functionala %>
</p>

<p>
  <b>Comorbiditatea:</b>
  <%= @sga.comorbiditatea %>
</p>

<p>
  <b>Grasime:</b>
  <%= @sga.grasime %>
</p>

<p>
  <b>Amiotrofie:</b>
  <%= @sga.amiotrofie %>
</p>

<p>
  <b>Imc:</b>
  <%= @sga.imc %>
</p>

<p>
  <b>Pcr:</b>
  <%= @sga.pcr %>
</p>

<p>
  <b>Feritina:</b>
  <%= @sga.feritina %>
</p>

<p>
  <b>Albumina:</b>
  <%= @sga.albumina %>
</p>


<%= link_to 'Edit', edit_sga_path(@sga) %> |
<%= link_to 'Back', sgas_path %>
