<p id="notice"><%= notice %></p>

<p>
  <b>Greutate:</b>
  <%= @mi.greutate %>
</p>

<p>
  <b>Aport:</b>
  <%= @mi.aport %>
</p>

<p>
  <b>Simptome gi:</b>
  <%= @mi.simptome_gi %>
</p>

<p>
  <b>Capacitate functionala:</b>
  <%= @mi.capacitate_functionala %>
</p>

<p>
  <b>Co-morbiditate:</b>
  <%= @mi.co-morbiditate %>
</p>

<p>
  <b>Grasime:</b>
  <%= @mi.grasime %>
</p>

<p>
  <b>Muschi:</b>
  <%= @mi.muschi %>
</p>

<p>
  <b>Bmi:</b>
  <%= @mi.bmi %>
</p>

<p>
  <b>Albumina:</b>
  <%= @mi.albumina %>
</p>

<p>
  <b>Tibc:</b>
  <%= @mi.tibc %>
</p>

<p>
  <b>Vizita:</b>
  <%= @mi.vizita %>
</p>


<%= link_to 'Edit', edit_mi_path(@mi) %> |
<%= link_to 'Back', mis_path %>
