<p id="notice"><%= notice %></p>

<p>
  <b>Pacient:</b>
  <%= @sf36.pacient %>
</p>

<p>
  <b>Data:</b>
  <%= @sf36.data %>
</p>

<p>
  <b>Sanatatea:</b>
  <%= @sf36.sanatatea %>
</p>

<p>
  <b>Sanatatea comparativ:</b>
  <%= @sf36.sanatatea_comparativ %>
</p>

<p>
  <b>Activitati obositoare:</b>
  <%= @sf36.activitati_obositoare %>
</p>

<p>
  <b>Activitati moderate:</b>
  <%= @sf36.activitati_moderate %>
</p>

<p>
  <b>Ridicat:</b>
  <%= @sf36.ridicat %>
</p>

<p>
  <b>Urcat etaje:</b>
  <%= @sf36.urcat_etaje %>
</p>

<p>
  <b>Urcat etaj:</b>
  <%= @sf36.urcat_etaj %>
</p>

<p>
  <b>Aplecat:</b>
  <%= @sf36.aplecat %>
</p>

<p>
  <b>Km1:</b>
  <%= @sf36.km1 %>
</p>

<p>
  <b>Sute metri:</b>
  <%= @sf36.sute_metri %>
</p>

<p>
  <b>O suta metri:</b>
  <%= @sf36.o_suta_metri %>
</p>

<p>
  <b>Imbaiere:</b>
  <%= @sf36.imbaiere %>
</p>

<p>
  <b>Perioada timp:</b>
  <%= @sf36.perioada_timp %>
</p>

<p>
  <b>Mai putine:</b>
  <%= @sf36.mai_putine %>
</p>

<p>
  <b>Limitat:</b>
  <%= @sf36.limitat %>
</p>

<p>
  <b>Dificultati:</b>
  <%= @sf36.dificultati %>
</p>

<p>
  <b>Perioada emotionale:</b>
  <%= @sf36.perioada_emotionale %>
</p>

<p>
  <b>Mai putine emotionale:</b>
  <%= @sf36.mai_putine_emotionale %>
</p>

<p>
  <b>Grija:</b>
  <%= @sf36.grija %>
</p>

<p>
  <b>Familie:</b>
  <%= @sf36.familie %>
</p>

<p>
  <b>Dureri:</b>
  <%= @sf36.dureri %>
</p>

<p>
  <b>Durerea:</b>
  <%= @sf36.durerea %>
</p>

<p>
  <b>Plin viata:</b>
  <%= @sf36.plin_viata %>
</p>

<p>
  <b>Nervos:</b>
  <%= @sf36.nervos %>
</p>

<p>
  <b>Deprimat:</b>
  <%= @sf36.deprimat %>
</p>

<p>
  <b>Calm:</b>
  <%= @sf36.calm %>
</p>

<p>
  <b>Energie:</b>
  <%= @sf36.energie %>
</p>

<p>
  <b>Descurajat:</b>
  <%= @sf36.descurajat %>
</p>

<p>
  <b>Extenuat:</b>
  <%= @sf36.extenuat %>
</p>

<p>
  <b>Fericit:</b>
  <%= @sf36.fericit %>
</p>

<p>
  <b>Obosit:</b>
  <%= @sf36.obosit %>
</p>

<p>
  <b>Vizite:</b>
  <%= @sf36.vizite %>
</p>

<p>
  <b>Imbolnavesc:</b>
  <%= @sf36.imbolnavesc %>
</p>

<p>
  <b>La fel:</b>
  <%= @sf36.la_fel %>
</p>

<p>
  <b>Inrautateasca:</b>
  <%= @sf36.inrautateasca %>
</p>

<p>
  <b>Sanatate excelenta:</b>
  <%= @sf36.sanatate_excelenta %>
</p>


<%= link_to 'Edit', edit_sf36_path(@sf36) %> |
<%= link_to 'Back', sf36s_path %>
