<p id="notice"><%= notice %></p>

<p>
  <b>Insulina:</b>
  <%= @medicamente.insulina %>
</p>

<p>
  <b>Tip fier:</b>
  <%= @medicamente.tip_fier %>
</p>

<p>
  <b>Doza fier:</b>
  <%= @medicamente.doza_fier %>
</p>

<p>
  <b>Tip ase:</b>
  <%= @medicamente.tip_ase %>
</p>

<p>
  <b>Doza ase:</b>
  <%= @medicamente.doza_ase %>
</p>

<p>
  <b>Beta blocante:</b>
  <%= @medicamente.beta_blocante %>
</p>

<p>
  <b>Ras:</b>
  <%= @medicamente.ras %>
</p>

<p>
  <b>Diuretice:</b>
  <%= @medicamente.diuretice %>
</p>

<p>
  <b>Vasodilatatoare:</b>
  <%= @medicamente.vasodilatatoare %>
</p>

<p>
  <b>Data:</b>
  <%= @medicamente.data %>
</p>

<p>
  <b>Pacient:</b>
  <%= @medicamente.pacient %>
</p>


<%= link_to 'Edit', edit_medicamente_path(@medicamente) %> |
<%= link_to 'Back', medicamentes_path %>
