<h1>Pacienti inscrisi</h1>

<table>
  <tr>
    <th>Nume</th>
    <th>Prenume</th>
    <th>Cnp</th>
    <th>Telefon1</th>
    <th>Telefon2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pacients.each do |pacient| %>
  <tr>
    <td><%= pacient.nume %></td>
    <td><%= pacient.prenume %></td>
    <td><%= pacient.cnp %></td>
    <td><%= pacient.telefon1 %></td>
    <td><%= pacient.telefon2 %></td>
    <td><%= link_to 'Detalii', pacient %></td>
    <td><%= link_to 'Modifică', edit_pacient_path(pacient) %></td>
    <td><%= link_to 'Şterge', pacient, :confirm => 'Sigur vrei să ştergi acest pacient?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @pacients %>

<br />

<%= link_to 'Screnează un pacient nou', new_pacient_path  %>
