<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @pacient_iesit.data %>
</p>

<p>
  <b>Motiv:</b>
  <%= @pacient_iesit.motiv %>
</p>

<p>
  <b>Pacient:</b>
  <%= @pacient_iesit.pacient %>
</p>


<%= link_to 'Edit', edit_pacient_iesit_path(@pacient_iesit) %> |
<%= link_to 'Back', pacient_iesits_path %>
