<%= javascript_include_tag "includere" %>
<%= stylesheet_link_tag "includere" %>
<h2> Formularul de <%= params[:vizita]%> pentru <%= @pacient.nume %></h2>
<h3> cu CNP <div id="cnp" span><%= @pacient.cnp %></span></div> </h3><br />
<%= simple_form_for([@pacient, @vizitum], :remote => true ) do |f| %>
  <% if @vizitum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vizitum.errors.count, "error") %> prohibited this vizitum from being saved:</h2>

      <ul>
      <% @vizitum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :data, :label => "Data screeningului" %>
  </div>
  <h2> Date clinice </h2>
 
    <%= f.simple_fields_for :clinics, @vizitum.clinics.build do |clinic| %>
     <%= clinic.input :inaltime, :label => "Înalţime" %>
     <%= clinic.input :greutate %>
    <% end %>
    <h2> Date paraclinice </h2>
    <%= f.simple_fields_for :paraclinices, @vizitum.paraclinices.build do |paraclinics| %>
    <%= paraclinics.input :creatinina , :hint => '<div id="egfr" span> Calculează eGFR</span></div>'.html_safe %>
    <%= paraclinics.input :uree %>
    <%= paraclinics.input :albumina_urinara_spot %>
    <%= paraclinics.input :creatinina_urinara %>
    <%= paraclinics.input :hco3, :label => "Bicarbonat seric" %>
    <%= paraclinics.input :hba1c, :label => "Hemoglobină glicozilată" %><br />
    <%= paraclinics.input :pcr, :label => "Proteina C reactivă" %>
    <%= paraclinics.input :feritina, :label => "feritina" %>
    <%= paraclinics.input :albumina, :label => "Albumina serică" %>
    <% end %>
    <h2> Date anamnestice </h2>
  <%= f.simple_fields_for :anamnezas, @vizitum.anamnezas.build do |anamneza| %>
    <%= anamneza.input :neoplasm , :label => "Dacă pacientul e diagnosticat cu neoplasm precizaţi locaţia" %><br />
  <% end %>
  <br />
<h2> Malnutrition-inflammation score </h2>
  <%= f.simple_fields_for :mis, @vizitum.mis.build do |mis| %>
    <%= mis.input :greutate, :label => "Modificări în greutate" %>
  <% end %>
  <div class="actions" id="submit">
    <%= f.submit "Adaugă vizita" %>
  </div>
<% end %>
