<%= javascript_include_tag "includere" %>
<%= stylesheet_link_tag "includere" %>
<div id ="pagina_vizita" >
  <div class="title">
</div>
<%= simple_form_for([@pacient, @vizitum], :remote => true ) do |f| %>
<h2> Formularul de <%= params[:tip]%> pentru <%= @pacient.nume %></h2>
<h3> cu CNP <div id="cnp" span><%= @pacient.cnp %></span></div> </h3><br />
  <% if @vizitum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vizitum.errors.count, "error") %> prohibited this vizitum from being saved:</h2>

      <ul>
      <% @vizitum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :data, :label => "Data screeningului" %>
  </div>
  <h2> Date clinice </h2>
 
    <%= f.simple_fields_for :clinic, @vizitum.build_clinic do |clinic| %>
     <%= clinic.input :inaltime, :label => "Înalţime" %>
     <%= clinic.input :greutate %>
   <% end %>
   <h2> Doza de bicarbonat </h2>
     <%= f.simple_fields_for :medicamente, @vizitum.build_medicamente do |medicamente| %>
       <%= medicamente.input :bicarbonat %>
     <% end %>
    <h2> Date paraclinice </h2>
    <%= f.simple_fields_for :paraclinice, @vizitum.build_paraclinice do |paraclinics| %>
    <%= paraclinics.input :creatinina , :hint => '<div id="egfr" span> Calculează eGFR</span></div>'.html_safe %>
    <%= paraclinics.input :uree %>
    <%= paraclinics.input :albumina_urinara_spot %>
    <%= paraclinics.input :creatinina_urinara %>
    <%= paraclinics.input :hco3, :label => "Bicarbonat seric" %>
    <%= paraclinics.input :hba1c, :label => "Hemoglobină glicozilată" %><br />
    <%= paraclinics.input :pcr, :label => "Proteina C reactivă" %>
    <%= paraclinics.input :feritina, :label => "feritina" %>
    <%= paraclinics.input :albumina, :label => "Albumina serică" %>
    <% end %>
    <h2> Date anamnestice </h2>
  <%= f.simple_fields_for :anamneza, @vizitum.build_anamneza do |anamneza| %>
    <%= anamneza.input :neoplasm , :label => "Dacă pacientul e diagnosticat cu neoplasm precizaţi locaţia" %><br />
  <% end %>
  <br />
  <div id="mis">
<h2> Malnutrition-inflammation score </h2>
  <%= f.simple_fields_for :mi, @vizitum.build_mi do |mis| %>
    <%= mis.input :greutate, :label => "Modificări în greutate", :collection =>[["Fără scădere în greutate",0], ["Scădere minoră(sub 1kg)",1],["Scădere de peste 1kg, dar <5% din total",2], ["Scădere de peste 5%",3]], :label_method => :first, :value_method => :last,%>
    <%= mis.input :aport, :label => "Aport alimentar", :collection => [["Apetit păstrat",0],["Cumva aport suboptimal",1],["Scădere moderata pana la dietă lichidiană",2], ["Dieta lichidiană hipocalorică/înfometare",3]], :label_method => :first, :value_method => :last %>
    <%= mis.input :simptome_gi, :label => "Simptome Gastro-Intestinale", :collection => [["Fără şi apetit păstrat",0],["Simptome moderate, apetit scăzut, greaţă ocazional",1],["Vărsături ocazionale/sau simptome GI moderate",2], ["Diaree sau vărsături frecvente sau anorexie",3]], :label_method => :first, :value_method => :last %><br />
    <%= mis.input :capacitate_functionala, :label => "Capacitate funcţională(legată de statusul nutriţional", :collection => [["Normală",0], ["Dificultate ocazională la deplasări sau oboseala frecventă",1], ["Dificultăţi la activităţi uşoare",2], ["Căzut la pat/fotoliu",3]], :label_method =>:first, :value_method => :last %><br />
    <%= mis.input :co_morbiditate, :label => "Comorbidităţi", :collection => [["Dializă sau sănătos",0], ["Comorbidităţi minore, excluzand comorbidităţi majore",1], ["Comorbidităţi moderate",2], ["Comorbiditati multiple",3]], :label_method => :first, :value_method => :last, :hint => "explicaţie" %><br />
    <%= mis.input :grasime, :label => "Scaderea depozitelor de grăsime subcutană(oculară, tricipitală, bicipitală, piept)", :collection => [["normal",0], ["uşoară",1], ["moderată",2], ["severă",3]], :value_method => :last, :label_method => :first %><br />
    <%= mis.input :muschi, :label => "Pierdere masă musculară(tâmplă, claviculă, scapulă, coaste, cvadriceps, genunchi, interosoşi)", :collection => [["normală", 0], ["uşoară",1], ["moderată",2], ["severă",3]], :value_method => :last, :label_method => :first %><br />
  <% end %>
</div>
  <div class="actions" id="submit">
    <%= f.submit "Adaugă vizita" %>
  </div>
<% end %>
</div>
