<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @vizitum.data %>
</p>

<p>
  <b>Tip:</b>
  <%= @vizitum.tip %>
</p>

<p>
  <b>Pacient:</b>
  <%= @vizitum.pacient.nume %> <%= @vizitum.pacient.prenume %>
</p>


<%= link_to 'Edit', edit_vizitum_path(@vizitum) %> |
<%= link_to 'Back', root_path %>
