<p id="notice"><%= notice %></p>

<p>
  <b>Hemoglobina:</b>
  <%= @paraclinice.hemoglobina %>
</p>

<p>
  <b>Hematocrit:</b>
  <%= @paraclinice.hematocrit %>
</p>

<p>
  <b>Pcr:</b>
  <%= @paraclinice.pcr %>
</p>

<p>
  <b>Glicemie:</b>
  <%= @paraclinice.glicemie %>
</p>

<p>
  <b>Hba1c:</b>
  <%= @paraclinice.hba1c %>
</p>

<p>
  <b>Colesterol total:</b>
  <%= @paraclinice.colesterol_total %>
</p>

<p>
  <b>Hdl colesterol:</b>
  <%= @paraclinice.hdl_colesterol %>
</p>

<p>
  <b>Trigliceride:</b>
  <%= @paraclinice.trigliceride %>
</p>

<p>
  <b>Albumina:</b>
  <%= @paraclinice.albumina %>
</p>

<p>
  <b>Tsat:</b>
  <%= @paraclinice.tsat %>
</p>

<p>
  <b>Feritina:</b>
  <%= @paraclinice.feritina %>
</p>

<p>
  <b>Calcemie:</b>
  <%= @paraclinice.calcemie %>
</p>

<p>
  <b>Fosfatemie:</b>
  <%= @paraclinice.fosfatemie %>
</p>

<p>
  <b>Fosfataza alcalina:</b>
  <%= @paraclinice.fosfataza_alcalina %>
</p>

<p>
  <b>Pth:</b>
  <%= @paraclinice.pth %>
</p>

<p>
  <b>Ph:</b>
  <%= @paraclinice.ph %>
</p>

<p>
  <b>Pco2:</b>
  <%= @paraclinice.pco2 %>
</p>

<p>
  <b>Hco3:</b>
  <%= @paraclinice.hco3 %>
</p>

<p>
  <b>Sodiu:</b>
  <%= @paraclinice.sodiu %>
</p>

<p>
  <b>Potasiu:</b>
  <%= @paraclinice.potasiu %>
</p>

<p>
  <b>Clor:</b>
  <%= @paraclinice.clor %>
</p>

<p>
  <b>Creatinina:</b>
  <%= @paraclinice.creatinina %>
</p>

<p>
  <b>Uree:</b>
  <%= @paraclinice.uree %>
</p>

<p>
  <b>Uree urinara:</b>
  <%= @paraclinice.uree_urinara %>
</p>

<p>
  <b>Albumina urinara spot:</b>
  <%= @paraclinice.albumina_urinara_spot %>
</p>

<p>
  <b>Creatinina urinara:</b>
  <%= @paraclinice.creatinina_urinara %>
</p>

<p>
  <b>Data:</b>
  <%= @paraclinice.data %>
</p>

<p>
  <b>Pacient:</b>
  <%= @paraclinice.pacient %>
</p>


<%= link_to 'Edit', edit_paraclinice_path(@paraclinice) %> |
<%= link_to 'Back', paraclinices_path %>
